@media only screen and (max-width: 600px) {
    app-nav-bar {
        display: none;
    }   
    app-user-menu {
        display: none;
    }
    app-mobile-nav {
        display: block;
        height: 60px;
    }
    app-dashboard {
        display: block;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 601px) {
    app-nav-bar {
        display: none;
    }   
    app-user-menu {
        display: none;
    }
    app-mobile-nav {
        display: block;
        height: 60px;
    }
    app-dashboard {
        display: block;
        margin-left: 0px;
        margin-top: 15px;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
    }
}
@media only screen and (min-width: 1000px) {
    app-nav-bar {
        display: block;
        width: 5vw;
        height: 100vh;
        position: fixed;
        background: #373B53;
    }
    app-user-menu {
        width: calc(100% - 5vw);
        display: block;
        position: fixed;
        right: 0;
        background: #DFE1EB;
    }
    app-mobile-nav {
        display: none;
    }
    app-dashboard {
        display: block;
        margin-left: 5vw;
        margin-top: 150px;
        float: left;
        width: calc(95vw - 100px);
        padding: 10px 50px;
    }
}
